@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --background-color: #23180d;
  --heading-color: #ff914d;
  --paragraph-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--paragraph-color);
  font-family: 'Roboto', sans-serif;
}
